<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="director.path" value="demo.slideshowpro.com"/>
    <add key="director.nonemptygalleryid" value="49842"/>
    <add key="director.nonemptyalbumid" value="202387"/>
    <add key="director.nonemptycontentid" value="3643826"/>
  </appSettings>
</configuration>